.about {
  padding: 0 25px;
  padding-top: 1px;
  padding-bottom: 10px;
  color: @white;
  background-image:
    url("../../img/traveller-illustration-tablet@1x.png"),
    url("../../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position:
    80px 149px,
    0 -74px;
  background-size:
    191px 231px,
    320px 569px;
  background-color: @dark-blue;
}

.about__slogan {
  padding: 0 16px;
  padding-bottom: 203px;
  margin-top: 18px;
  margin-bottom: 43px;
  text-align: center;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

@media (min-width: @tablet-width) {
  .about {
    display: flex;
    padding-bottom: 345px;
    justify-content: center;
    background-position:
      310px 355px,
      0 335px;
    background-size:
      372px 451px,
      1479px 612px;
  }

  .about__slogan {
    text-align: center;
    width: 400px;
    font-size: 60px;
    line-height: 70px;
  }
}

@media (min-width: @desktop-width) {
  .about {
    justify-content: flex-start;
    background-image:
      url("../../img/traveller-illustration-tablet@1x.png"),
      url("../../img/globe-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position:
      450px 0,
      0 0;
    background-size:
      372px 451px,
      1479px 612px;
  }
}
