.button {
  display: block;
  padding-left: 5%;
  width: 270px;
  height: 62px;
  border-radius: 10px;
  position: relative;
  color: @blue;
  font-size: 18px;
  font-weight: 700;
  line-height: 62px;
  background-color: #ffd74b;

  @media (min-width: @tablet-width) {
    height: 81px;
    font-size: 24px;
    line-height: 81px;
    border-radius: 20px;
  }

  &--directions {
    width: 100%;
  }

  &--companions {
    width: 100%;
  }

  &--route {
    width: 100%;
    border: 3px solid #192144;

    @media (min-width: @tablet-width) {
      border: 3px solid @dark-night-blue;
    }
  }

  &--catalog-filter {
    width: 230px;
    height: 40px;
    padding-top: 10px;
    border-radius: 20px;
    color: @dark-blue;
    background-color: @white;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
  }

  &--catalog {
    width: 230px;
    height: 40px;
    padding-top: 10px;
    border-radius: 20px;
    color: @dark-blue;
    background-color: @lemon;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
  }

  &--my-info {
    height: 40px;
    padding-top: 10px;
    border-radius: 20px;
    background-color: @gray-blue;
  }

  &--add-plan-next,
  &--add-plan-back {
    width: 230px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: @lemon;
  }

  &--add-plan-back {
    background-color: @white;
  }

  &--main-nav {
    height: 50px;
    padding-left: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 25px;
    color: @dark-blue;
    font-size: 17px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
  }
}

.button__arrow {
  &::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    border: 10px solid #1d2e5b;
    border-top-width: 7px;
    border-bottom-width: 7px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right: none;
  }
}
