.catalog {
  margin: 0 auto;
  padding: 0 25px;
  background-color: @light-gray;
}

.catalog__filter {
  padding: 0 25px;
  border-radius: 20px;
  color: @blue;
  background-color: #ffd74b;
}

.catalog__filter-title {
  width: 120px;
  font-size: 22px;
  font-weight: 700;
  line-height: 22.49px;
}

.catalog__filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog__filter-option-label {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog__filter-music-list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: @dark-gray;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
}

.catalog__filter-level-number {
  color: @blue;
  font-size: 15px;
  font-weight: 500;
  line-height: 13.49px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog__list-item {
  width: 270px;
  border-radius: 20px;
  background-color: @white;
}

.catalog__name {
  color: @blue;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.catalog__likes {
  color: @dark-blue;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}

.catalog__hashtags {
  color: @dark-gray;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}

.catalog__visit-wishes-title,
.catalog__transport-title,
.catalog__level-title {
  color: @dark-gray;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}

.catalog__visit-wishes-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog__wishes-list-item {
  color: @blue;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog__level-item {
  color: @blue;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
}

.catalog__show-more {
  text-align: center;
}

.catalog__show-more-title {
  color: @blue;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
