.feedback {
  padding: 1px 25px;
  background-color: @dark-blue;
}

.feedback__text {
  width: 150px;
  color: @white;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.feedback__autor {
  width: 155px;
  color: @white;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}
