.main-page__page-title {
  position: relative;
  margin-top: -10px;
  padding: 39px 25px;
  padding-bottom: 10px;
  border-radius: 0 0 20px 20px;
  display: block;
  color: @white;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  background-color: @dark-blue;
  z-index: 10;
}

@media (min-width: @tablet-width) {
  .main-page {
    position: relative;
  }
}
