.my-plans {
  position: relative;
  padding: 9px 25px;
  padding-bottom: 50px;
  margin-top: -26px;
  border-radius: 30px 30px 0 0;
  background-color: @gray-blue;
  z-index: 1;

  @media (min-width: @tablet-width) {
    padding: 20px 75px;
    padding-bottom: 94px;
  }

  @media (min-width: @desktop-width) {
    padding: 19px 60px 98px 123px;
    border-radius: 60px 60px 0 0;
  }
}

.my-plans__title {
  margin-bottom: 29px;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: @blue;

  @media (min-width: @tablet-width) {
    margin-bottom: 41px;
    font-size: 36px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 9px;
  }
}

.my-plans__item-number {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: 44px;
    right: 28px;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  @media (min-width: @desktop-width) {
    position: static;
    margin-right: 25px;
  }
}

.my-plans__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.my-plans__item {
  display: flex;
  flex-direction: column;
  background-color: @white;
  padding: 8px 24px;
  margin-bottom: 10px;
  min-height: 154px;
  border-radius: 10px;
  color: @blue;

  @media (min-width: @tablet-width) {
    position: relative;
    padding: 3px 32px;
    min-height: 150px;
  }

  @media (min-width: @desktop-width) {
    min-height: 97px;
    padding: 0 38px;
    padding-left: 45px;
    margin-bottom: 15px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.my-plans__item-title {
  color: @blue;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
    margin-left: 4px;
    margin-bottom: 41px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.my-plans__item-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    margin-left: 1px;

    &::before {
      content: "";
      width: 618px;
      height: 1px;
      position: absolute;
      top: -21px;
      left: -33px;
      background-color: @border-color;
      opacity: 0.3;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 16px;

    &::before {
      display: none;
    }
  }
}

.my-plans__text {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1.4px;

  @media (min-width: @tablet-width) {
    margin-right: 44px;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;

    &--second-country {
      margin-right: 61px;
    }
  }

  @media (min-width: @desktop-width) {
    &--second-country {
      margin-right: 50px;
    }
  }
}

.my-plans__change-button {
  margin-top: 17px;
  margin-bottom: 13px;
  color: @black;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  opacity: 0.3;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }

  @media (min-width: @tablet-width) {
    margin-left: 35px;
    margin-top: 0;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 87px;
  }

  &--plan-2 {
    @media (min-width: @desktop-width) {
      margin-left: 92px;
    }
  }
}
