.page-header {
  padding: 25px 25px;
  display: flex;
  justify-content: flex-start;
  background-color: @dark-blue;
}

.page-header__logo {
  display: flex;
  align-items: center;
}

.main-nav {
  margin-left: auto;
}

.main-nav__list {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__toggle {
  margin-left: auto;
  background-color: @dark-blue;
  border: none;
  z-index: 15;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &--open {
    background-color: @white;
  }
}

.main-nav__toggle-svg {
  &--open {
    fill: @white;
  }

  &--close {
    display: none;
  }

  &--open-modal {
    display: block;
    fill: #161c35;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &--close-modal {
    display: block;
    fill: #cccccc;
  }
}

.main-nav__wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  background-color: @white;
  z-index: 1;

  &--opened {
    display: flex;
  }
}

.main-nav__wrapper-logo {
  width: 100%;
  padding-top: 30px;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    width: 517px;
    height: 42px;
  }
}

.main-nav__slogan {
  color: @dark-night-blue;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 50px;
}

.main-nav__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: @saphire-blue;

  @media (min-width: @tablet-width) {
    width: 68px;
    height: 68px;
  }
}

.main-nav__icon-svg {
  fill: @lemon;
}

.main-nav__wrap-list {
  list-style: none;
  padding: 0 0;
  padding-top: 35px;
  margin: 0 auto;
}

.main-nav__wrap-list-item {
  padding: 10px;
  color: @dark-night-blue;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 368px;
    height: 186px;
    font-size: 60px;
    line-height: 71.01px;
  }
}

.main-nav__tel-number,
.main-nav__mail {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: @dark-night-blue;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }
}

.main-nav__mail {
  text-transform: uppercase;
}

.main-nav__social-list {
  display: flex;
  width: 150px;
  list-style: none;
  padding: 10px;
  padding-top: 30px;
  margin: 10px;
}

.main-nav__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: @white;
  border-radius: 50%;

  svg {
    fill: #cccccc;
  }
}

.button--main-nav-tablet {
  display: none;
}


@media (min-width: @tablet-width) {
  .page-header {
    justify-content: space-between;
    padding: 5px 40px;
  }

  .button--main-nav-tablet {
    display: block;
  }

  .main-nav {
    margin-right: auto;
    display: flex;
    align-items: center;
  }

  .main-nav__wrapper {
    width: @tablet-width;
    height: 910px;
    top: -10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .main-nav__wrapper-logo {
    order: -3;
  }

  .main-nav__wrapper-button {
    order: -2;
  }

  .main-nav__wrap-list {
    order: -1;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__toggle-svg {
    display: none;
  }

  .page-header {
    justify-content: flex-start;
  }

  .main-nav {
    margin-left: 100px;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__list-item {
    padding: 10px 25px;
    color: @white;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
  }
}
