.page-header {
  display: flex;
  justify-content: flex-start;
  background-color: @dark-blue;
}

.main-nav {
  margin-left: auto;
}

.main-nav_toggle {
  margin-left: auto;
  background-color: @dark-blue;
  border: none;
}

.main-nav_toggle-svg {
  fill: @white;
}


.main-nav__wrapper {
  display: none;
  padding: 0 25px;
  background-color: @white;
}

.main-nav__slogan {
  color: @dark-night-blue;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
}

.main-nav__tel-number,
.main-nav__mail {
  color: @dark-night-blue;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.main-nav__mail {
  text-transform: uppercase;
}

.main-nav__social-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
