.page-header {
  padding: 25px 25px;
  display: flex;
  justify-content: flex-start;
  background-color: @dark-blue;
}

.main-nav {
  margin-left: auto;
  position: relative;
}

.main-nav__toggle {
  margin-left: auto;
  background-color: @dark-blue;
  border: none;

  &--close {
    position: absolute;
    top: 32px;
    right: 30px;
    background-color: @white;
  }
}

.main-nav__toggle-svg {
  fill: @white;

  &--close {
    fill: #cccccc;
  }
}

.main-nav__wrapper {
  position: absolute;
  top: -30px;
  right: -30px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  background-color: @white;
  z-index: 1;
}

.main-nav__wrapper-logo {
  width: 100%;
  padding-top: 30px;
  margin-bottom: 40px;
}

.main-nav__slogan {
  color: @dark-night-blue;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 50px;
}

.main-nav__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: @saphire-blue;
}

.main-nav__icon-svg {
  fill: @lemon;
}

.main-nav__wrap-list {
  list-style: none;
  padding: 0 0;
  padding-top: 35px;
  margin: 0 auto;
}

.main-nav__wrap-list-item {
  padding: 10px;
  color: @dark-night-blue;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
}

.main-nav__tel-number,
.main-nav__mail {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: @dark-night-blue;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.main-nav__mail {
  text-transform: uppercase;
}

.main-nav__social-list {
  display: flex;
  width: 150px;
  list-style: none;
  padding: 10px;
  padding-top: 30px;
  margin: 10px;
}

.main-nav__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: @white;
  border-radius: 50%;

  svg {
    fill: #cccccc;
  }
}
