.service {
  position: relative;
  padding: 36px 49px;
  padding-bottom: 61px;
  border: 1px solid @dark-blue;
  border-radius: 0 0 30px 30px;
  background-color: @dark-blue;
  background-image: url("../../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 17px 24px;
  z-index: 10;
}

.service__text {
  margin-bottom: 19px;
  color: @white;
  width: 210px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;

  &--important {
    width: 230px;
    font-weight: 700;
  }
}

@media (min-width: @tablet-width) {
  .service {
    padding: 87px 49px;
    padding-left: 74px;
    padding-right: 390px;
    padding-top: 88px;
    border-radius: 0 0 60px 60px;
    background-image: url("../../img/about-tablet@1x.png");
    background-position: 383px 129px;
  }

  .service__text {
    width: 310px;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 35px;

    &--important {
      font-size: 21px;
      font-weight: 700;
      line-height: 25px;
      margin-bottom: 51px;
    }
  }
}

@media (min-width: @desktop-width) {
  .service {
    padding-left: 135px;
    padding-right: 700px;
  }

  .service__text--important {
    margin-bottom: 100px;
  }
}
