.service {
  padding: 0 25px;
  background-color: @dark-blue;
  background-image: url("../../img/about-mobile@1x.png");
}

.service__title {
  color: @orange;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.service__text {
  color: @white;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;

  &--important {
    font-weight: 700;
  }
}
