.travel-algoritm {
  padding: 30px 25px;
  background-color: @dark-blue;
}

.travel-algoritm__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.travel-algoritm__step {
  position: relative;
  height: 90px;
  padding: 23px 25px;
  padding-right: 75px;
  margin-top: -10px;
  border-radius: 10px 10px 0 0;
  color: @dark-blue;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;

  &::before {
    position: absolute;
    right: 25px;
    top: 25px;
    color: @white;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
  }

  &--1 {
    margin-top: 0;
    background-color: @orange;

    &::before {
      content: "1";
    }
  }

  &--2 {
    background-color: @light-orange;

    &::before {
      content: "2";
    }
  }

  &--3 {
    background-color: @dark-lemon;

    &::before {
      content: "3";
    }
  }

  &--4 {
    height: 80px;
    border-radius: 10px 10px 10px 10px;
    background-color: @lemon;

    &::before {
      content: "4";
    }
  }
}

@media (min-width: @tablet-width) {
  .travel-algoritm {
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent 40%, @dark-blue 40%);
    margin-top: -155px;
  }

  .travel-algoritm__list {
    display: flex;
    flex-wrap: wrap;
  }

  .travel-algoritm__step {
    width: 350px;
    height: 140px;
    margin-top: 0;
    font-size: 24px;
    line-height: 24px;

    &::before {
      top: 100px;
      left: 35px;
      font-size: 30px;
    }

    &--1 {
      border-radius: 20px 0 0 0;
      width: 370px;
    }

    &--2 {
      border-radius: 20px 20px 0 0;
      margin-left: -20px;
    }

    &--3 {
      border-radius: 0 0 0 20px;
      width: 370px;
    }

    &--4 {
      border-radius: 0 0 20px 20px;
      margin-left: -20px;
    }
  }
}

@media (min-width: @desktop-width) {
  .travel-algoritm {
    padding: 0 60px;
    margin-top: -500px;
  }

  .travel-algoritm__step {
    width: 315px;
    height: 107px;
    font-size: 24px;

    &::before {
      position: absolute;
      left: 280px;                 /* right: 33px;   right тоже перестал работать */
      top: 25px;
      color: @white;
      font-size: 24px;
    }

    &--1 {
      border-radius: 20px 0 0 20px;
      width: 345px;
    }

    &--2 {
      width: 345px;
      border-radius: 20px 0 0 20px;
      margin-left: -20px;
    }

    &--3 {
      border-radius: 20px 0 0 20px;
      width: 345px;
      margin-left: -20px;
    }

    &--4 {
      border-radius: 20px;
      margin-left: -20px;

      &::before {
        left: 265px;
      }
    }
  }
}
